/* General Specefication */
main{
    background-color: rgb(236, 228, 228);
}
article{
    text-align: center;
}
.colored{
    padding: 20px 10px;
    margin-top: -10px;
    background: rgb(96, 4, 124);
}
.Three_columns_grid{
    padding: 0 70px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap:10px;
}
.Two_columns_grid{
    padding: 0 280px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap:10px;
}
.inside_grid{
    padding: 0 5px;
    width:350px;
    border:rgb(182, 176, 176) solid 1px;
    border-radius: 15px;
    background-color: white;
}